@font-face {
    font-family: 'Raleway-Medium';
    src: local('Raleway-Medium'), url('fonts/Raleway-Medium.ttf') format('truetype');
}

body {
    font-family: Raleway-Medium;
}

svg.logo {
    width: 150px;
    fill: #1d63ed;
    margin-left: 35px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 13px;
    border-bottom: 1px solid #e1e2e6;
}

header>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

li.header-li {
    font-weight: 500;
    padding: 15px;
    color: #505968;
    font-size: 16px;
    display: inline;
    margin-right: 10px;
}

header>div>button {
    color: black;
    background-color: white;
    border: 2px solid #c4c8d1;
    padding: 13px 20px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 10px;
    margin-top: 8px;
}

header>div>button:hover {
    background-color: #efeff2;
}

header>div>button.getstarted-button:hover {
    background-color: #0c49c2;
    border-color: #0c49c2;
}

header>div>button.getstarted-button {
    background-color: #1d63ed;
    color: white;
    border-color: #1d63ed;
    padding: 13px 10px
}

.lupa-svg {
    height: 17px;
    width: 13pxs;
    padding-right: 12px;
    margin-top: 8px;
}

div.header-buttons {
    justify-content: flex-end;
}

h1 {
    text-align: center;
    font-size: clamp(32px,7vw,100px);
    color: #0b214a;
    font-family: "Poppins",sans-serif;
    word-wrap: break-word;
    text-align: center;
    margin: 0px;
}

.div1>div>p {
    font-size: clamp(18px,4vw,24px);
    color: #0b214a;
    font-family: "Roboto",sans-serif;
    text-align: center;
}

a.link {
    color: #1d63ed;
}

a.link:hover {
    text-decoration: underline;
    cursor: pointer;
}


div.div1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 80px;
}

div>span>button {
    /*text-align: left;*/
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    display: inline-block;
    background-color: #1d63ed;
    border-color: #1d63ed;
    color: white;
    cursor: pointer;
    border: 2px;
    border-radius: 6px;
    width: 240px;
    height: 50px;
}

span {
    margin-top: 40px;
}

.learn-about {
    color: black;
    background-color: white;
    border: 2px solid #c4c8d1;
}

div>span>button:hover {
    background-color: #0c49c2;
}

div>span>button.learn-about:hover {
    background-color: #efeff2;
}

span>img {
    text-align: center;
    max-width: 100%;
    height: auto;
    display: inline-block;
    padding-top: 50px;
}

.div2>div>h2 {
    text-align: center;
    background: linear-gradient(90deg,#00084d 0,#1d63ed 100%);
    font-size: 24px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: block;
    font-family: "Poppins",sans-serif;
}

.div2>div>h3 {
    display: block;
    text-align: center;
    font-size: 56px;
    line-height: 1.2em;
    font-family: "Poppins",sans-serif;
    padding-bottom: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.div2>div>p {
    text-align: center;
    padding-bottom: 0;
    margin: 0;
    word-wrap: break-word;
    font-size: 16px;
}

.div2>div>button {
    font-size: 20px;
    cursor: pointer;
    border: 0;
    padding: 14px 8px;
    border-radius: 64px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 50px;
}

.rounded-buttons {
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 55px;
}

.white-button {
    color: black;
    background-color: white;
    border-color: #c4c8d1;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.25);
}

.blue-button {
    background-color: #1d63ed;
    color: white;
}

.white-button>svg {
    fill: black;
}

.blue-button>svg {
    fill: white;
}

.div2>div>button>svg {
    width: 15px;
    height: 15px;
    padding-right: 12px;
}

.div2 { 
    display: flex; 
    background-color: rgba(249,249,251,255);
    flex-direction: column; 
    align-items: center;
    padding-top: 45px;
}

.div3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 84px;
    padding-right: 84px;
    padding-top: 70px;
    background-color: rgba(249,249,251,255);
}


.div3>div.left-side {
    width: 47.25%;
    margin-right: 5.5%;
    float: left;
    text-align: left;
}

.div3>div.left-side>h4 {
    font-size: 32px;
    color: #0b214a;
    font-family: "Poppins",sans-serif;
    text-align: left;
    padding-bottom: 24px;
    margin: 0;
}

.div3>div.left-side>h5 {
    font-size: 20px;
    margin: 0;
    color: #0b214a;
    font-family: "Poppins",sans-serif;
    padding-bottom: 10px;
    text-align: left;
}

.div3>div.left-side>p {
    text-align: left;
    font-size: 16px;
    color: #393f49;
    display: block;
    padding-bottom: 40px;
}

.div3>div>img {
    width: 510px;
    height: auto;
    border-radius: 16px;
    max-width: 100%;
}

.div3>div.right-side {
    text-align: left;
    display: block;
    position: relative;
}

span>img {
    margin: 0;
    padding: 0;
}

.div4 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 70px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.div4>div>h2 {
    text-align: center;
    background: linear-gradient(90deg,#00084d 0,#1d63ed 100%);
    font-size: 24px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    font-family: "Poppins",sans-serif;
    padding: 0;
    margin: 0;
}

.div4>div>h3 {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    font-family: "Poppins",sans-serif;
    margin-top: 7px;
    margin-bottom: 5px;
}

.div4>div>p {
    text-align: center;
    font-size: 18px;
    padding-right: 40px;
    padding-left: 40px;
    margin: 0;
    padding-top: 5px;
}

.div4>span {
    width: 88%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-bottom: 80px;
    margin: 0;
}

.div4>span>div {
    width: 30.3333%;
    margin-right: 3%;
}

strong {
    display: block;
    font-size: clamp(60px, 10vw, 80px);
    background: linear-gradient(90deg,#00084d 0,#1d63ed 100%);
    -webkit-text-fill-color: transparent;
    background-clip: text !important;
    font-weight: 900;
}

/*.div4>span>div>p {
    display: flex;
    flex-wrap: wrap;
}*/

.div5 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 70px;
    padding-bottom: 56px;
    background-color: rgba(249,249,251,255);
}

.div5>div.left-side {
    width: 47.25%;
    margin-right: 5.5%;
    float: left;
    text-align: left;
}

.div5>div.left-side>h2 {
    font-size: 24px;
    background: linear-gradient(90deg,#00084d 0,#1d63ed 100%);
    display: inline-block;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 0;
    margin-bottom: 15px;
}

.div5>div.left-side>h3 {
    font-weight: 700;
    font-size: 56px;
    color: black;
    font-family: "Poppins",sans-serif;
    padding: 0;
    margin-bottom: 15px;
    margin-top: 0;
}

.div5>div.left-side>p {
    color: #393F49;
    font-size: 15px;
    font-family: "Poppins",sans-serif;
    text-align: left;
    padding: 0;
    margin-bottom: 15px;
}

.div5>div.left-side>a {
    font-weight: 600;
    color: #1d63ed;
    margin-top: 15px;
}

span.grey-background {
    background-color: rgba(249,249,251,255);
}

.div6 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 70px;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.div6>h2 {
    text-align: center;
    background: linear-gradient(90deg,#00084d 0,#1d63ed 100%);
    font-size: 24px;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    display: inline-block;
    font-family: "Poppins",sans-serif;
    padding-bottom: 10;
    margin: 0;
}

.div6>h3 {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    color: black;
    padding-bottom: 10px;
    margin: 0;
    font-family: "Poppins",sans-serif;
}

.div6>p {
    text-align: center;
    color: #0B214A;
    font-weight: 400;
    font-size: 18px;
    font-family: "Roboto (woff2)", sans-serif;
    max-width: 650px;
}

.div6>a {
    font-weight: 600;
    color: #1d63ed;
    margin-top: 15px;
    font-family: "Roboto (woff2)", sans-serif;
    padding-bottom: 40px;
}

.div6>h4 {
    text-align: center;
    font-size: 20px;
    font-family: "Poppins",sans-serif;
    margin-top: 20;
}

.blue-background {
    background-color: rgba(4,6,31,255);
}

.div7 {
    background-color: rgba(4,6,31,255);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 70px;
    max-width: 70%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 15%;
    padding-right: 15%;
}

.div7>h2 {
    text-align: center;
    font-weight: 700;
    font-size: 56px;
    color: white;
    font-family: "Poppins",sans-serif;
    padding-bottom: 10px;
    margin: 0;
    display: block;
}

.div7>p {
    text-align: center;
    padding-bottom: 1em;
    margin: 0;
    color: white;
    font-size: 18px;
    font-weight: 400;
    font-family: "Poppins",sans-serif;
}

.div7>a {
    font-weight: 600;
    color: #1d63ed;
    font-family: "Roboto (woff2)", sans-serif;
    padding-bottom: 50px;
    padding-top: 5px;
}

.div8 {
    width: 88%;
    max-width: 1280px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 80px;
    padding-left: 6%;
    padding-right: 6%;
    background-color: rgba(4,6,31,255);
}

.div8>div {
    display: flex;
    flex-wrap: wrap;
    width: 29.6667%;
    margin-left: 3%;
    text-align: left;
}

.div8>div>p {
    text-align: left;
    font-size: 18px;
    color: white;
}

.div9 {
    /*width: 88%;
    max-width: 1280px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 80px;
    padding-left: 6%;
    padding-right: 6%;*/
    max-width: 88%;
    background-color: rgba(4,6,31,255);
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-top: 70px;
    padding-left: 6%;
    padding-right: 6%;
}

.div9>h3 {
    text-align: center;
    color: white;
    font-size: 32px;
}

.div9>div {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 88%;
    padding: 2% 0;
    margin: 0;
    opacity: 50%;
}

.div9>img {
    margin: 0;
    padding: 0;
}

.div10  {
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 35px;
}

.div10>h2 {
    background: linear-gradient(90deg,#00084d 0,#1d63ed 100%);
    font-size: 24px;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    text-align: left;
    margin-bottom: 5px;
}

.div10>h3 {
    text-align: left;
    font-size: clamp(30px,7vw,48px);
    line-height: 1.2;
    font-weight: 700;
    margin: 0;
    padding-bottom: 40px;
}

.div10>div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 80px;
    /*padding-left: 6%;
    padding-right: 6%;*/
}

.div10>div>div {
    display: flex;
    flex-wrap: wrap;
    width: 29.6667%;
    text-align: left;
    flex-direction: column;
}

.div10>div>div>img {
    display: block;
}

.div10>div>div>h3 {
    font-size: 20px;
    display: block;
    text-align: left;
    margin-top: 8px;
    margin-bottom: 0px;
}

.div10>div>div>p {
    font-size: 16px;
    color: #677285;
    display: block;
    text-align: left;
}

.div11{
    display: flex;
    flex-flow: wrap;
    background-color: #1d63ed;
    border-radius: 24px;
    width: 88%;
    margin-left: 6%;
    margin-right: 6%;
    padding-top: 90px;
    padding-bottom: 90px;
    margin-top: 8%;
    justify-content: center;
}

.div11>.left-side {
    width: 74.25%;
    margin-right: 3%;
    display: block;
    text-align: left;
}

.div11>.left-side>h2 {
    text-align: left;
    font-weight: 700;
    font-size: 38px;
    color: white;
}

.div11>.left-side>p {
    font-size: 20px;
    font-weight: 400;
    color: white;
}

.div11>.right-side {
    display: flex;
    align-items: center;
}

.div11>.right-side>button {
    background-color: #efeff2;
    border-color: #efeff2;
    color: #1d63ed;
    border-radius: 6px;
    padding: 18px 23px;
    border-width: 2px;
    border-style: solid;
    font-weight: 600;
    font-size: 16px;
}

footer {
    background-color: rgba(249,249,251,255);
}

footer>div {
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
    display: flex;
}

footer>div>div.left-side {
    width: 25%;
    display: flex;
    text-align: left;
    justify-content: flex-start;
}

footer>div>div.left-side>svg {
    width: 150px;
    height: 45px;
    margin: 0;
    fill: #1d63ed;
    justify-content: flex-start;
}

footer>div>div.right-side {
    width: 75%;
}

footer>div>div.right-side>ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 50px;
    list-style: none;
    padding: 0;
    color: #677285;
    font-size: .875em;
    font-weight: 400;
    line-height: 1.625em;
    margin: 0;
    font-family: "Roboto",sans-serif;
}

footer>div>div.right-side>li {
    flex: 1;
}

.a-footer {
    display: inline-block;
    margin: 22px 0 12px 0;
    font-size: 18px;
    color: #393f49;
    font-size: 18px;
    font-weight: 400;
}

footer>div>div.right-side>ul>li>ul {
    list-style-type: none;
    padding: 0;
}